{% extends 'base.html.twig' %}

{% block title %}Desktop Buddies{% endblock %}

{% block menuHome %}active{% endblock %}

{% block body %}

{% include '_nav.html.twig' %}

<main>

<!-- Search Results Display -->
  
  {% if app.request.query.get('search') is not null %}
  <h3>Search results for <i>"{{ app.request.query.get('search') }}"</i></h3>

  <div class="container search-container">
    <div class="row">
      
      <!-- Search Result Product Card -->
      {% for product in products %} 
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <div class="card-group home-product-card">
          <div class="card">
            <a href="{{ path('products_read', {id: product.id}) }}">
            <img class ="home-product-image" src="{{ asset('images/' ~ product.image) }}"/>
            <div class="card-body">
            <h5 class="card-title home-product-card__title">{{ product.name }}</h5>
            <a/>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% else %}
  <!-- Banner -->
  <div class="container batman-banner">
    <div class="row">
      <div class="col">  
        <img class ="betty-image" src="{{ asset('css/images/batman-banner.png') }}"/>
      </div>
    </div>
  </div>

<!-- Top products heading -->
  <div class="container home-headings">
    <div class="row">
      <div class="col">  
       <h4>Top Products</h4>
      </div>
    </div>
  </div>

   <div class="container">
    <div class="row">
      <!-- Lastest Arrivals Product Card -->
      {% for topProduct in topProducts %} 
      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="card-group home-product-card">
          <div class="card">
            <a href="{{ path('products_read', {id: topProduct.id}) }}">
            <img class ="home-product-image" src="{{ asset('images/' ~ topProduct.image) }}"/>
            <div class="card-body">
            <h5><span class="badge badge-warning mb-2">BEST SELLER</span></h5>
            <h5 class="card-title home-product-card__title">{{ topProduct.name }}</h5>
            <a/>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

 <!-- <div class="container discover-banner">
    <div class="row">
      <div class="col">  
        <img class ="discover-banner-image" src="{{ asset('css/images/discover2.png') }}"/>
      </div>
    </div>
  </div>-->

   <!-- carousel -->
   
  <div class="container carousel">
    <div class="row">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        {% set isFirst = true %}
        {% for category in categories %}
          {% if isFirst == true %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="active"></li>
            {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"></li>
            {% endif %}
            {% set isFirst = false %}
        {% endfor %}
        </ol>
        <div class="carousel-inner">
         {%  set isFirst = true %}
         {% for category in categories %}
            {% if isFirst == true %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
            <a href="{{ path('categories_read', {id: category.id}) }}">
            <img src="{{ asset('css/images/' ~ category.image) }}" class="d-block w-100 carousel-image" alt="...">
            </a>
          </div>
            {% set isFirst = false %}
         {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      </div>
    </div>
  </div>

  <!-- New Arrivals Heading-->

  <!--<div class="container sales-container">
    <div class="row">
      <div class="col">  
        <img class ="home-product-image" src="{{ asset('css/images/allnew.png') }}"/>
      </div>
    </div>
  </div>-->

  <!-- New product heading -->
   <div class="container home-headings">
    <div class="row">
      <div class="col">  
       <h4>New Arrivals</h4>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <!-- Lastest Arrivals Product Card -->
      {% for newProduct in newProducts %} 
      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="card-group home-product-card">
          <div class="card">
            <a href="{{ path('products_read', {id: newProduct.id}) }}">
            <img class ="home-product-image" src="{{ asset('images/' ~ newProduct.image) }}"/>
            <div class="card-body">
            <h5><span class="badge badge-primary mb-2">NEW</span></h5>
            <h5 class="card-title home-product-card__title">{{ newProduct.name }}</h5>
            <a/>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</main>
{% endblock %}
