{% extends 'base.html.twig' %}

{% block title %}Desktop Buddies{% endblock %}

{% block body %}

{% include '_nav.html.twig' %}

    <main class="container main-content">
        <div class="card mb-3 product-details" style="max-width: 2000px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ asset('images/' ~ product.image) }}" class="product-image" alt="product-image" width=100%>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title product-title">{{product.name}}</h5>
                    <p class="card-text product-text">{{product.description}}</p>
                    <p class="card-text"><small class="text-muted">PRICE</small></p>
                    <a href="#"><button type="button" class="btn btn-info btn-lg btn-block product-button">Add to cart</button></a>
                    <a href="{{ path('categories_read', {id: product.category.id}) }}"><button type="button" class="btn btn-outline-dark btn-lg btn-block">See more products</button></a>
                    <a href='{{ path('home')}}' class="home-link"><button type="button" class="btn btn-link disabled home-link__title"><-Home</button></a>
                </div>
                </div>
            </div>
        </div>
  </main>

{% endblock %}