{% extends 'base.html.twig' %}

{% block title %}Desktop Buddies{% endblock %}

{% block body %}

{% include '_nav.html.twig' %}

    <main class="container">
        <div class="card product-details" style="max-width: 2000px;">
            <div class="row no-gutters g-0">
                <div class="col-md-4">
                <img src="{{ asset('images/' ~ product.image) }}" class="product-image" alt="product-image">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title product-title">{{product.name}}</h5>
                    <p class="card-text product-text">{{product.description}}</p>
                    <p class="card-text"><small class="text-muted">PRICE</small></p>

                    <!-- action définis la page où je récup la requete post-->
                    <form action="{{ path('cart_add') }}" method="POST">
                     <!-- je récup l'id que j'ai passé à la vue dans ma méthod show()-->
                        <input type="hidden" name="id" value="{{ id }}">
                        <button type="submit" class="btn btn-info btn-lg btn-block product-button">Add to cart</button>
                    </form>
                    
                    <a href="{{ path('categories_read', {id: product.category.id}) }}"><button type="button" class="btn btn-outline-dark btn-lg btn-block">See more products</button></a>
                </div>
                </div>
            </div>
        </div>
  </main>

{% endblock %}