<!-- Side Nav -->
<!-- /!\ nav not in base as it needs categories from home controller that renders into index.twig.html -->
<div class="page" role="nav">
  <header tabindex="0">
    <a href="{{ path('home')}}"><img class="header-logo" src="{{ asset('css/images/header-logo.png') }}" width= "130px"></a>
  </header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li><a href="{{ path('home')}}"><img src="{{ asset('css/images/side-nav-logo.png') }}" width= "200px"></a></li>
        {% for category in categories %} 
        <li><a href="{{ path('categories_read', {id: category.id}) }}">{{ category.name }}</a></li>
         {% endfor %} 
        <li class="small"><a href="https://www.linkedin.com/in/guillaume-charneau/">About</a><a href="https://www.linkedin.com/in/guillaume-charneau/">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Subnav -->

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top subnav">

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item {% block menuHome %}{% endblock %}">
        <a class="nav-link" href="{{ path('home')}}">Home</a>
    </li>
    <li class="nav-item {% block menuCart %}{% endblock %}">
        <a class="nav-link" href="{{ path('cart_list')}}">Cart</a>
    </li>

    {# Is a User connected ? #}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <li class="nav-item">
        <a type="button" class="btn btn-outline-primary btn-small mt-2 ml-2" href="{{ path('app_logout') }}">Log Out</a>
    </li>
    <li class="nav-item">
       <a class="nav-link user-tag" href="{{ path('user_edit', {'id': app.user.id})}}" data-toggle="tooltip" data-placement="top" title="Edit your profile!">Welcome, <b>{{ app.user.firstname }}!</b></a>
    </li>
    {% else %}
    <li class="nav-item">
        <a type="button" class="btn btn-outline-info btn-small mt-2 ml-2" href="{{ path('app_login') }}">Log In</a>
    </li>
    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ path('home') }}">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="what are you looking for?" value="{{ app.request.query.get('search') ?? '' }}" aria-label="Search">
    <button class="btn btn-outline-success my-2 mr-1 my-sm-0" type="submit">Search</button>
    <a href="{{ path('home') }}" class="btn btn-outline-dark my-2 my-sm-0">x</a>
    </form>
</div>
</nav>


