<!-- Side Nav -->
<!-- /!\ nav not in base as it needs categories from home controller that renders into index.twig.html -->
<div class="page" role="nav">
  <header tabindex="0">
    <a href="{{ path('home')}}"><img src="{{ asset('css/images/helmet-logo-dark.png') }}" width= "60px"></a>
  </header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li><a href="{{ path('home')}}"><img src="{{ asset('css/images/db-nav-logo.png') }}" width= "250px"></a></li>
        {% for category in categories %} 
        <li><a href="{{ path('categories_read', {id: category.id}) }}">{{ category.name }}</a></li>
         {% endfor %} 
        <li class="small"><a href="#0">About</a><a href="#0">Contact</a></li>
      </ul>
    </div>
  </div>
</div>



