<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/simplex/bootstrap.min.css" >
        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidenav.css') }}">
      {# Icône de favoris/onglet #}
        <link rel="icon" type="image/x-icon" href="{{ asset('css/images/favicon.png') }}" width=60px/>
    </head>
    <body>

        {% block body %}{% endblock %}

        <!-- Subnav -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top subnav">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block menuHome %}{% endblock %}">
                <a class="nav-link" href="{{ path('home')}}">Home</a>
            </li>
            <li class="nav-item {% block menuCart %}{% endblock %}">
                <a class="nav-link" href="{{ path('cart_list')}}">Cart</a>
            </li>
            <li class="nav-item">
                <a type="button" class="btn btn-outline-info btn-small mt-2 ml-2" href="#">Sign-in</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ path('home') }}">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="what are you looking for?" value="{{ app.request.query.get('search') ?? '' }}" aria-label="Search">
            <button class="btn btn-outline-success my-2 mr-1 my-sm-0" type="submit">Search</button>
            <a href="{{ path('home') }}" class="btn btn-outline-dark my-2 my-sm-0">x</a>
            </form>
        </div>
        </nav>

        <!-- footer -->
        <footer>
            <ul class="nav nav-pills mt-4">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Contact</a>
                </li>
            </ul>
        </footer>

         <!-- Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
